<%- include('includes/head.ejs' , {username: username})%>

<main>
    <section class="hero">
    <div class="hero-body">
      <h1 class="title">Bienvenidos a la Pizzeria!</h1>
      <h1 class="subtitle">En nuestra página podrás crear tus propias pizza para luego ordenarlas y recogerlas en cualquiera de nuestras sucursales :)</h1>
      <img class="" src="https://homebuddy.store/cdn/shop/articles/store_bought_pizza_dough_1024x.jpg?v=1616055784" height="360" width="500">
      <div class="content">
        <h1 class="title mt-4">Preguntas Lab 18</h1>
        <p class="subtitle has-text-weight-bold">¿Qué otras formas de autentificación existen?</p>
        <ul>
          <li>
            Autenticación de dos factores (2FA): Requiere no solo algo que el usuario sabe (como una contraseña), sino también algo que posee (como un código generado por una aplicación en su teléfono).
          </li>
          <li>
            Autenticación biométrica: Utiliza características únicas del usuario, como la huella digital, el escaneo facial o el reconocimiento de voz, para verificar su identidad.
          </li>
          <li>
            Certificados digitales: Se utilizan para autenticar la identidad de un usuario o una entidad en línea. Los certificados son emitidos por autoridades de certificación y se utilizan para establecer conexiones seguras mediante el protocolo SSL/TLS..
          </li>
          <li>
            Token de acceso: Los tokens de acceso son cadenas de caracteres que se utilizan para autenticar a un usuario durante un periodo de tiempo determinado. Estos pueden ser generados mediante técnicas como JSON Web Tokens (JWT) y se utilizan ampliamente en APIs y aplicaciones web.
          </li>
          <li>
            OAuth y OpenID Connect: Estándares de autenticación delegada que permiten a los usuarios autorizar aplicaciones de terceros para acceder a recursos en su nombre sin compartir sus credenciales directamente.
          </li>
        </ul>
      </div>
    </div>
    </section>

<%- include('includes/foot.ejs') %>