<%- include('includes/head.ejs' , {username: username})%>

            <section class="section">
                <div class="container">
  <h1 class="title">No hay nada aquí....</h1>
  <img src="https://friendlystock.com/wp-content/uploads/2018/04/12-confused-pizza-emoji-cartoon-clipart.jpg" width="720" heigth="500">
  </div>
  </section>
    <%- include('includes/foot.ejs') %>
</body>
</html>
