<%- include('includes/head.ejs' , {username: username})%>

<main>
    <section class="hero">
    <div class="hero-body">
      <h1 class="title">Bienvenidos a la Pizzeria!</h1>
      <h1 class="subtitle">En nuestra página podrás crear tus propias pizza para luego ordenarlas y recogerlas en cualquiera de nuestras sucursales :)</h1>
      <img class="" src="https://homebuddy.store/cdn/shop/articles/store_bought_pizza_dough_1024x.jpg?v=1616055784" height="360" width="500">
      <div class="content">
        <h1 class="title mt-4">Pregunta Lab 13</h1>
        <p class="subtitle has-text-weight-bold">¿Qué beneficios encuentras en el estilo MVC?</p>
        <p class="subtitle">Permite que puedas seccionar tu archivo routes y así sean mas legibles para su futuro mantenimiento.</p>
        <p class="subtitle has-text-weight-bold">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
        <p class="subtitle">Puede llegar a ser confuso para alguien que no este familiarizado con el estilo MVC ver tantos archivos</p>
      </div>

    </div>
    </section>

<%- include('includes/foot.ejs') %>