<%- include('includes/head.ejs') %>

<main>
    <section class="hero">
    <div class="hero-body">
      <h1 class="title">Bienvenidos a la Pizzeria!</h1>
      <h1 class="subtitle">En nuestra página podrás crear tus propias pizza para luego ordenarlas y recogerlas en cualquiera de nuestras sucursales :)</h1>
      <img class="" src="https://homebuddy.store/cdn/shop/articles/store_bought_pizza_dough_1024x.jpg?v=1616055784" height="360" width="500">
      <div class="content">
        <h1 class="title mt-4">Pregunta Lab 12 - ¿Qué otros templating engines existen para node?</h1>
        <p class="subtitle">Además de EJS, existen varios otros motores de plantillas disponibles para Node.js. Estos motores permiten crear plantillas HTML con un código mínimo y inyectar datos en ellas. Aquí tienes una lista de algunos de los más importantes (aunque no limitados) motores de plantillas para Node.js:</p>
        <ul>
          <li>
            Handlebars: Un motor simple y potente con una sintaxis similar al HTML.
          </li>
          <li>
            Pug (anteriormente conocido como Jade): Ofrece una sintaxis concisa y expresiva.
          </li>
          <li>
            Mustache: Se centra en la simplicidad y facilidad de uso.
          </li>
        </ul>
      </div>

    </div>
    </section>

<%- include('includes/foot.ejs') %>