<%- include('includes/head.ejs' , 
{username: username, permisos: permisos})%>

<main>
    <section class="hero">
    <div class="hero-body">
      <h1 class="title">Bienvenidos a la Pizzeria!</h1>
      <h1 class="subtitle">En nuestra página podrás crear tus propias pizza para luego ordenarlas y recogerlas en cualquiera de nuestras sucursales :)</h1>
      <img class="" src="https://homebuddy.store/cdn/shop/articles/store_bought_pizza_dough_1024x.jpg?v=1616055784" height="360" width="500">
    </div>
    </section>

<%- include('includes/foot.ejs') %>